<div class="wrapper-parent">
  <h2>parent</h2>
  <p>message: {{ parentMessage }}</p>
  <h2>newmessage: {{ message || parentMessage }}</h2>
  <button (click)="updateChildMessageWithService()">use service</button>
  <button (click)="updateParentMessageWithInputProperty()">
    use input property
  </button>
  <button (click)="updateParentMessageWithObservable()">use observable</button>
  <app-childs
    (onChildSendMessage)="getMessageChild($event)"
    [messageParent]="messageParent"
  ></app-childs>
</div>
